body {
    margin: 0;
    background-color: gray;
}

header {
    background-color: rgb(80, 80, 80);
    color: white;
    padding: 30px;
    text-align: center;
}

.infooo {
    position: absolute;
    left: 850px;
    top: 80px;
}

footer {
    background-color: rgb(80, 80, 80);
    padding: 20px;
    color: white;
    text-align: center;
    position: absolute;
    bottom: -500%;
    width: 97.9%;
}

.artifacts {
    width: 500px;
    height: 500px;
    color: white;
}

#artifacts1{
    margin-top: 20px;
    margin-left: 10px;
}

#artifactinfo {
    text-align: center;
}

.bosses {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 127px;
    left: 550px;
}

#bosses1 {
    margin-top: 20px;
    margin-left: 10px;
}

#bossinfo {
    text-align: center;
    color: white;
}

.characters {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 127px;
    left: 1100px;
    color: white;
}

#characters1 {
    margin-top: 20px;
    margin-left: 10px;
}

#characterinfo {
    text-align: center;
}

.consumables {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 900px;
}

#consumables1 {
    margin-top: 20px;
    margin-left: 10px;
}

#consumableinfo {
    text-align: center;
}

.domains {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 900px;
    left: 550px;
}

#domains1 {
    margin-top: 20px;
    margin-left: 10px;
}

#domainInfo {
    color: white;
    text-align: center;
}

#domainInfo2 {
    color: white;
    position: absolute;
    left: 1030px;
    top: 985px;
    width: 500px;
    height: 500px;
    text-align: center;
}

.elements {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 1450px;
}

#elements1 {
    margin-top: 20px;
    margin-left: 10px;
}

#elementinfo {
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 500px);
}

.enemies {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 1450px;
    left: 550px;
}

#enemies1 {
    margin-top: 20px;
    margin-left: 10px;
}

#enemyinfo {
    color: white;
    text-align: center;
}

#enemyinfo1 {
    position: absolute;
    top: 2040px;
    color: white;
    left: 550px;
    display: grid;
    grid-template-columns: repeat(2, 500px);
}

.materials {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 2000px;
}

#materials1 {
    margin-top: 20px;
    margin-left: 10px;
}

#materialinfo {
    color: white;
    text-align: center;
}

.nations {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 2400px;
}

#nations1 {
    margin-top: 20px;
    margin-left: 10px;
}

#nationinfo {
    color: white;
    text-align: center;
}

.weapons {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 2000px;
    left: 550px;
}

#weapons1 {
    margin-top: 20px;
    margin-left: 10px;
}

#weaponinfo {
    color: white;
    text-align: center;
}